# Compiled class files
*.class

# Maven build directory
target/

# IntelliJ IDEA project files
.idea/
*.iml

# Cucumber/Allure Reports
Results/
allure-results/
.allure/


# Log files
*.log

# System files
.DS_Store
git
workout.txt