# --- Compiled & Build Files ---
*.class
target/


# --- IDE & Editor Files ---
.idea/
*.iml
.project
.classpath
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# --- Reports & Logs ---
Results/
allure-results/
.allure/
*.log

# --- System ---
.DS_Store

# --- Project Specific ---
git
workout.txt