# --- Compiled & Build Files ---
*.class
target/
dependency-reduced-pom.xml
buildNumber.properties
release.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# --- IDE & Editor Files ---
.idea/
*.iml
.project
.classpath
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# --- Reports & Logs ---
Results/
allure-results/
.allure/
*.log

# --- System ---
.DS_Store

# --- Project Specific ---
git
workout.txt